**/__snapshots__/**
**/build/**
**/dist/**
**/deploy/**
**/node_modules/**
**/__generated__/**
**/public/**
**/cdk.out/**
**/web-build/**

/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**

/lib/rules/utils/unicode/is-combining-character.js
test.js
!.eslintrc.js
